<%- include partials/head%>

<body id="page-top">

  <!--Navbar-->
  <%- include partials/navigation%>

  <!-- DataTables Example -->
  <div class="card mb-3">
    <div class="card-header">
      <i class="fas fa-table"></i>
      Dữ liệu mẫu</div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Tài khoản</th>
              <th>Họ tên</th>
              <th>Loại khách hàng</th>
              <th>Tuổi</th>
              <th>Ngày tạo</th>
              <th>Lần mua gần nhất</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Tài khoản</th>
              <th>Họ tên</th>
              <th>Loại khách hàng</th>
              <th>Tuổi</th>
              <th>Ngày tạo</th>
              <th>Lần mua gần nhất</th>
            </tr>
          </tfoot>
          <tbody>
            <% for (let i = 0; i < 10; i++){%>
            <tr>
              <td><a href="/account/<%=i+1%>">kaisin1505</a></td>
              <td>Trương Đại Tín</td>
              <td>VIP</td>
              <td>21</td>
              <td>2019/11/01</td>
              <td>2019/11/05</td>
            </tr>
            <%}%>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

        <p class="small text-center text-muted my-5">
          <em>More table examples coming soon...</em>
        </p>

      </div>
      <!-- /.container-fluid -->
      <!--footer-->
      <%- include partials/footer %>


</body>

</html>